OCR-To-TEI/src/main/resources/testfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="../resources" targetNamespace="../resources" attributeFormDefault="unqualified" elementFormDefault="qualified" >
 <xs:element name="testfile">
   <xs:complexType>
     <xs:sequence>
         <xs:element type="xs:string" name="test" />
     </xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>

<!-- <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="../resources" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="test"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> -->
      
<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!-- <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:lib="ub-trier/xsd/type_library/general.xsd"
xmlns:ubt="ub-trier/xsd/type_library/ub_trier.xsd"> -->
<!-- <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> -->
<!-- <xs:import namespace="ub-trier/xsd/type_library/general.xsd" schemaLocation="../type_library/general.xsd" /> -->
<!-- <xs:import namespace="ub-trier/xsd/type_library/ub_trier.xsd" schemaLocation="../type_library/ub_trier.xsd" /> -->
<!-- <xs:element name="test">
  <xs:simpleType>
    <xs:restriction base="xs:string" >
        <xs:pattern value="test" /> -->
<!-- <xs:enumeration value="2.0.0"/> -->
<!-- </xs:restriction>
  </xs:simpleType> -->
<!-- <xs:element name="test"> -->
<!-- <xs:complexType>
      <xs:all>
        <xs:element name="personalTitles" minOccurs="0" /> -->

<!-- <xs:element name="name" type="lib:Name" /> -->
<!-- <xs:element name="forename" type="lib:Name" minOccurs="0" /> -->
<!-- <xs:restriction base="xs:string">
              <xs:pattern value="\d{8}" />
            </xs:restriction> -->

<!-- </xs:all>
      <xs:attribute name="version" use="required"> -->
<!-- <xs:simpleType>     
           
        </xs:simpleType> -->
<!-- </xs:attribute>
    </xs:complexType> -->
<!-- </xs:element> -->
<!-- </xs:element>
</xs:schema> -->


      