OCR-To-TEI/src/main/resources/xml_OCR_Output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://schema.primaresearch.org/PAGE/gts/pagecontent/2019-07-15"
  xmlns:self="http://schema.primaresearch.org/PAGE/gts/pagecontent/2019-07-15"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <!-- xsi:schemaLocation="http://www.loc.gov/mods/v3 xml_OCR_Output.xsd" -->

  <!-- targetNamespace="http://www.loc.gov/mods/v3" -->
  <xs:element name="PcGts">
    <xs:complexType>
      <xs:all>
        <xs:element name="Metadata" type="self:MetadataType" />
        <xs:element name="Page" type="self:PageType" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PageType">
    <xs:sequence>
      <xs:element name="ReadingOrder" type="self:ReadingOrderType" />
      <xs:element name="TextRegion" type="self:TextRegionType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="imageFilename" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="imageHeight" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\d+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="imageWidth" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\d+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="TextRegionType">
    <xs:sequence>
      <xs:element name="Coords" type="self:CoordsType" />
      <xs:element name="TextLine" type="self:TextLineType"  minOccurs="0"
      maxOccurs="unbounded" />
      <xs:element name="TextEquiv" type="self:TextEquivType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="r\d+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="orientation" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TextLineType">
    <xs:sequence>
      <xs:element name="Coords" type="self:CoordsType" />
      <xs:element name="TextEquiv" type="self:TextEquivType" minOccurs="1"
      maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="l\d+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="CoordsType">   
    <xs:attribute name="points" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\d+(,\d+ \d+)*,\d+"/>
          <!-- <xs:pattern value="^\d+(,\d+ \d+)*,\d+"/> -->
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="TextEquivType">   
    <xs:sequence>
      <xs:element name="Unicode" />
    </xs:sequence>
    <xs:attribute name="index" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\d+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ReadingOrderType">
    <xs:all>
      <xs:element name="OrderedGroup" type="self:OrderedGroupType" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="OrderedGroupType">
    <xs:sequence>
      <xs:element name="RegionRefIndexed" type="self:RegionRefIndexedType" minOccurs="1"
        maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="RegionRefIndexedType">
    <xs:attribute name="index" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\d*" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="regionRef" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="r\d*" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="MetadataType">
    <xs:all>
      <xs:element name="Creator" type="self:CreatorType" />
      <xs:element name="Created" type="self:CreatedType" />
      <xs:element name="LastChange" type="self:LastChangeType" />
      <xs:element name="Comments" type="self:CommentsType" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="CreatorType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="CreatedType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="LastChangeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CommentsType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  
</xs:schema> 